<!doctype html>
<html>

	<head>
		<title>Add Employee</title>
		<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'learning/main.css' %}">

	</head>

	<body>

		<h1>Book Library System</h1>
		<h3>Please use one of the following options!</h3>

		<a class="buttonlink" id="addBook" href="addBook">Add Book</a>
		<a class="buttonlink" id="searchBook" href="searchBook">Search Book</a>
        <a class="buttonlink" id="addVocabulary" href="addVocabulary">Add Vocabulary</a>
        <a class="buttonlink" id="searchVocabulary" href="searchVocabulary">Search Vocabulary</a>



  	</body>

</html>
